[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "epihet"]
	path = epihet
	url = https://github.com/thejacksonlaboratory/epihet
	shallow = true
	registered = true
